<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=path, initial-scale=1.0">
    <title>404 PAGE</title>
    <style>
        body{
            overflow:hidden ;
        }
    </style>
</head>
<body>
    
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/d5318327-7eee-4327-8640-6a449a7baa71/dPtu8r6Bfh.json" background="transparent" speed="1" style="width: 100vw; height: 100vh;" loop autoplay></dotlottie-player>
</body>
</html>